.container{
    display: flex;
    width: 100%;

}
.row{
    width: 100%;
}
.containerSidebar{
    display: inline;
}

.loading{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
}
.overlay {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.notFound{
    display: flex;
    margin-left: 35%;
    margin-top: 22%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.671);
}