.container{
    display: flex;
}
.row{
    width: 100%;
}
.containerSidebar{
    display: inline;
}
.empty{
    text-align: center;
}
.loading{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
}
.overlay {
    position: absolute;
    background: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}